<div class="container" id="home">
	 <div class="row">
    <div class="col-xs">
  		<div class="jumbotron text-xs-center">
  			<h1>{{ title }}</h1>
  		</div>    
    </div>
  </div>

  <div class="row">

  	<div class="col-md-4 col-lg-6">
  		<img class="center-block img-fluid" src="http://placehold.it/550x550" alt="placeholder">
  		<!-- <img class="img-responsive center-block" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1474224689/head_shot_f4o16l.jpg" alt="Picture of Andrew Meiling Smiling"> -->
  	</div>

  	<div class="col-md-8 col-lg-6">

      <div class="row accordion-row">
        <div class="col-xs-12 col-lg-4">
          <button class="btn btn-primary text-uppercase toggle-btn" type="button" data-toggle="collapse" data-target="#Bio" aria-expanded="false" aria-controls="Bio">Bio</button>
        </div>
        <div class="col-xs-12 col-lg-4">
          <button class="btn btn-primary text-uppercase toggle-btn" type="button" data-toggle="collapse" data-target="#Experience" aria-expanded="false" aria-controls="Experience">Experience</button>
        </div>
        <div class="col-xs-12 col-lg-4">
          <button class="btn btn-primary text-uppercase toggle-btn" type="button" data-toggle="collapse" data-target="#Education" aria-expanded="false" aria-controls="Education">Education</button>
        </div>
      </div>
        
      
      <div class="collapse" id="Bio">
        <div class="card card-block">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>

      <div class="collapse" id="Experience">
        <div class="card card-block">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>

      <div class="collapse" id="Education">
        <div class="card card-block">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>

  	</div>
  </div>
</div>