<div class="container-fluid"  id="about">

  <div class="container">

	  <div class="row flex-items-xs-top">
      <div class="col-xs">
  		  <div class="jumbotron text-xs-center">
  			 <h1 class="display-4">Andrew Meiling | Front-End Developer</h1>
         <h3 class="lead pull-left">Developer with a background in marketing and management.</h3>
  		  </div>    
      </div>
    </div> <!-- ./row -->

    <div class="row flex-items-xs-middle">

  	 <div class="col-xs-12 col-sm-6">
  	   	<img class="img-fluid img-circle m-x-auto" src="https://res.cloudinary.com/drkmakxkk/image/upload/c_scale,h_350,w_350/v1474224689/head_shot_f4o16l.jpg" alt="placeholder">
  	  </div>

  	  <div class="col-xs-12 col-sm-6 center-v-h">

        <div>
          <div class="card card-block" *ngIf="selectedCard">
            <h4 class="card-title">{{ selectedCard.title }}</h4>
            <p class="lead" *ngFor="let p of selectedCard.text">{{ p }}</p><br>
          </div>
        </div>
      
  	  </div>

    </div> <!-- ./row -->

    <div class="row btn-row">
    
      <div 
        class="col-xs" 
        *ngFor="let card of cards" 
        (click)="onSelect(card)"
        [class.selected]="card === selectedCard">
          <button class="btn btn-lg btn-outline-secondary">{{ card.title }}</button>
      </div>

    </div>

  </div> <!-- ./container -->

</div> <!-- ./container-fluid -->

