<div class="container" id="contact">
					
	<div class="row contact-block">
	
		<div class="col-sm-8 contact-form m-x-auto">
			<!-- <h1>{{ title }}</h1> -->
			<form class="center-block">
					
					<div class="form-group">
						<label for="sender"></label>
 						<input type="text" class="form-control form-control-lg" placeholder="Name" aria-describedby="sizing-addon1" required>
 					</div>

 					<div class="form-group">
 						<label for="email"></label>
 						<input type="text" class="form-control form-control-lg" placeholder="Email" aria-describedby="sizing-addon1" required>
 					</div>

 					<div class="form-group">
						<label for="subject"></label>
						<input type="text" class="form-control form-control-lg" placeholder="Subject" aria-describedby="sizing-addon1" required>
					</div>

					<div class="form-group">
						<label for="message"></label>
						<textarea  type="text" class="form-control form-control-lg" placeholder="Message" aria-describedby="sizing-addon1" required></textarea>
					</div>

					<div class="form-group">
						<label for="subject"></label>
						<input type="text" class="form-control form-control-lg" placeholder="Fun Fact About Yourself" aria-describedby="sizing-addon1" optional>
					</div>

					<button type="submit" class="btn btn-lg btn-outline-secondary col-sm-4 contact-block">Submit</button>
			</form>

		</div><!-- ./contact-form -->
	</div><!-- ./row -->

</div><!-- ./container -->



<!-- 			

<form class="center-block">
				<div class="form-group">
					<label for="sender">From:</label>
					<input type="text" placeholder="Name" [(ngModel)]="message.sender_name" class="form-control" name="sender" required>
				</div>

				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" placeholder="Email" class="form-control" [(ngModel)]="message.email" name="email" required>
				</div>
		
				<div class="form-group">
					<label for="subject">Subject:</label>
					<input class="form-control" placeholder="Subject" [(ngModel)]="message.subject" name="subject" required>
				</div>
		
				<div class="form-group">
					<label for="message">Message:</label>
					<textarea  type="text" placeholder="Message" class="form-control" [(ngModel)]="message.message_body" name="message" required></textarea>
				</div>
		
				<div class="form-group">
					<label for="funFact">Fun fact about yourself:</label>
					<input type="text" placeholder="Fun Fact" class="form-control" [(ngModel)]="message.fun_fact" name="funFact" optional>
				</div>
				<button type="submit" (click)="postMessage()" class="btn btn-defult">Submit</button>
			
			</form> 

-->