@import "./hamburgers";

$color-background: #262D35;
$color-main: #262D35;
$color-active: #FFF;
$color-link: #FFF;

#main-nav {

	.scrolled {
		//background-color: rgba(54,45,108, .50);
		background-color: rgba(12, 85, 147, .75);
    background-image: -webkit-linear-gradient(to top right, rgba(12, 85, 147, .75), rgba(54, 45, 108, .75));
    background-image: -moz-linear-gradient(to top right, rgba(12, 85, 147, .75), rgba(54, 45, 108, .75));
    background-image: -o-linear-gradient(to top right, rgba(12, 85, 147, .75), rgba(54, 45, 108, .75));
    background-image: linear-gradient(to top right, rgba(12, 85, 147, .75), rgba(54, 45, 108, .75));
		-webkit-transition: background-color .5s;
  	transition: background-color .5s;
	}

	.active {
		border-bottom: 2px solid #eee;
	}

	.navbar-brand {
		margin-right: 0;
		padding-top: .80rem;

		img {
			padding-top: 0;
			padding-bottom: 0;

		}
	}

	ul {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	a.nav-link.display-4 {
		
		.nav-item + .nav-item {
			margin-left: 1.5rem;
		}
		
		  display: block;
	    position: relative;
	    color: $color-link;
	    text-decoration: none;
	    overflow: hidden;
			font-size: 1.5rem;
			color: rgba(236, 236, 238, 0.7);

	  &:hover:after,
	  &:focus:after,
	  &:active:after {
	  	width: 100%;
	  }
	        
	  &:after {
	  	content: '';
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    width: 0%;
	    transform: translateX(-50%);
	    height: 3px;
	    background: $color-link;
	    transition: .35s;
		}
	}
	

	.overlay {
	  position: fixed;
	  background-image: -webkit-linear-gradient(to top right, rgba(12, 85, 147, .85), rgba(54, 45, 108, .85));
    background-image: -moz-linear-gradient(to top right, rgba(12, 85, 147, .85), rgba(54, 45, 108, .85));
    background-image: -o-linear-gradient(to top right, rgba(12, 85, 147, .85), rgba(54, 45, 108, .85));
    background-image: linear-gradient(to top right, rgba(12, 85, 147, .85), rgba(54, 45, 108, .85));
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 0%;
	  opacity: 0;
	  visibility: hidden;
	  transition: opacity .35s, visibility .35s, height .35s;
	  overflow: hidden;
	  
	  &.open {
	    opacity: .9;
	    visibility: visible;
	    height: 100%;
	    z-index: 999;
	    
	    li {
	      animation: fadeInRight .5s ease forwards;
	      animation-delay: .35s;
	      
	      &:nth-of-type(2) {
	        animation-delay: .4s;
	      }
	      &:nth-of-type(3) {
	        animation-delay: .45s;
	      }
	      &:nth-of-type(4) {
	        animation-delay: .50s;
	      }
	    }
	  }
	  nav {
	    position: relative;
	    height: 70%;
	    top: 50%;
	    transform: translateY(-50%);
	    font-size: 50px;
	    font-weight: 400;
	    text-align: center;
	  }
	  ul {
	    list-style: none;
	    padding: 0;
	    margin: 0 auto;
	    display: inline-block;
	    position: relative;
	    height: 100%; 
	    
	    li {
	      display: block;
	      height: 25%;
	      height: calc(100% / 4);
	      min-height: 50px;
	      position: relative;
	      opacity: 0;
	      
	      a {
	        display: block;
	        position: relative;
	        color: $color-link;
	        text-decoration: none;
	        overflow: hidden;
	        
	        &:hover:after,
	        &:focus:after,
	        &:active:after {
	          width: 100%;
	        }
	        
	        &:after {
	          content: '';
	          position: absolute;
	          bottom: 0;
	          left: 50%;
	          width: 0%;
	          transform: translateX(-50%);
	          height: 3px;
	          background: $color-link;
	          transition: .35s;
	        }
	      }
	    }
	  }
	}

	@keyframes fadeInRight {
	  0% {
	    opacity: 0;
	    left: 20%;
	  }
	  100% {
	    opacity: 1;
	    left: 0;
	  }
	}

}