<div class="container" id="skills">
	
	<div class="row">

    <div class="col-xs">
  		<div class="jumbotron">
  			<h1>Headline:</h1>
   			<p class="lead">This is just a tag line</p>
   			<p><a class="btn btn-lg btn-primary" href="" role="button">See more!</a></p>
  		</div>    
    </div>

  </div>

  <div class="row">
  	<div class="col-sm">
      <img class="img-responsive center-block logo-img" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473579396/GITHUB_voh1ve.png" alt=""> 
    </div>
  </div>
</div>