<div class="container" id="skills">
	
	<div class="row">

    <div class="col-xs">
  		<div class="jumbotron">
  			<h1 class="display-4">My Misson:</h1>
   			<p class="lead">Maximize user experience through, thoughtful design and graceful implementation. My code is a unique expression of how I view my surroundings.</p>
   			<p><a class="btn btn-lg btn-outline-primary text-xs-right" [routerLink]="['/portfolio']" role="button">See My Work</a></p>
  		</div>    
    </div>

  </div>

  <div class="row">
  	<div class="col-sm">
      <app-html-chart></app-html-chart>
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>