<div class="container-fluid" id="skills">
  
<div class="container">
	
	<div class="row">

    
  		<div class="jumbotron">
  			<h1 class="display-4">My Misson:</h1>
   			<p class="lead">Maximize user experience through, thoughtful design and graceful implementation. My code is a unique expression of how I view my surroundings.</p>
   			<p><a class="btn btn-lg btn-outline-secondary text-xs-right" [routerLink]="['/portfolio']" role="button">See My Work</a></p>
      </div>

  </div>

  <div class="row">
  	<div class="col-sm-4">
      <h3 class="text-xs-center">Html</h3>
      <h3 class="text-xs-center lead">80%</h3>
      <app-html-chart></app-html-chart>
    </div>
    <div class="col-sm-4">
      <h3 class="text-xs-center">Css</h3>
      <app-css-chart></app-css-chart>
    </div>
    <div class="col-sm-4">
      <h3 class="text-xs-center">JavaScript</h3>
      <app-js-chart></app-js-chart>
    </div>
  </div>

  <div class="row brand-row">

      <div class="col-sm-2">      
        <img class="img-fluid m-x-auto d-block" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473582355/BOOTSTRAP_tsesvi.png" alt="">
      </div>

      <div class="col-sm-2">
        <img class="img-fluid m-x-auto d-block" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473580775/SASS_m3mino.png" alt="">
      </div>

      <div class="col-sm-2">
        <img class="img-fluid m-x-auto d-block" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473580772/RETHINKDB_lcri8z.png" alt="">
      </div>

      <div class="col-sm-2">
        <img class="img-fluid m-x-auto d-block" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473580770/GITHUB_opn7qd.png" alt="">
      </div>

      <div class="col-sm-2">
        <img class="img-fluid m-x-auto d-block" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473580770/ANGULAR_zr1t2p.png" alt="" >
      </div>

      <div class="col-sm-2">
        <img class="img-fluid m-x-auto d-block" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473580770/NODE_kcavrr.png" alt="">
      </div>

  </div>
</div> <!-- ./container -->

</div> <!-- ./container-fluid -->