<div class="container" id="portfolio">

	<div class="row">

		<div class="col-sm-6">
			<div class="card">
  			<div class="card-block">
    			<h4 class="card-title">Brandly</h4>
    			<h6 class="card-subtitle text-muted">A simple branding website</h6>
  			</div>
  			
  			<img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1472444195/brandly_lln0xb.jpg" alt="Card image" class="img-fluid">
  			
  			<div class="card-block">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et totam laboriosam, ex voluptate possimus repudiandae. Error incidunt dolor nisi, ut quam magnam architecto harum maxime unde, reprehenderit illo quo. Sint.</p>
    			<a href="http://andrewmeilingbrand.s3-website-us-east-1.amazonaws.com" target="_blank" class="card-link btn btn-outline-secondary">Visit</a>
    			<a href="https://github.com/AndrewSC208/branded" target="_blank" class="card-link btn btn-outline-secondary">Source Code</a>
  			</div>
			</div>
		</div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Brandly</h4>
          <h6 class="card-subtitle text-muted">A simple branding website</h6>
        </div>
        
        <img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1472444195/brandly_lln0xb.jpg" alt="Card image" class="img-fluid">
        
        <div class="card-block">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et totam laboriosam, ex voluptate possimus repudiandae. Error incidunt dolor nisi, ut quam magnam architecto harum maxime unde, reprehenderit illo quo. Sint.</p>
          <a href="http://andrewmeilingbrand.s3-website-us-east-1.amazonaws.com" target="_blank" class="card-link btn btn-outline-secondary">Visit</a>
          <a href="https://github.com/AndrewSC208/branded" target="_blank" class="card-link btn btn-outline-secondary">Source Code</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Brandly</h4>
          <h6 class="card-subtitle text-muted">A simple branding website</h6>
        </div>
        
        <img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1472444195/brandly_lln0xb.jpg" alt="Card image" class="img-fluid">
        
        <div class="card-block">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et totam laboriosam, ex voluptate possimus repudiandae. Error incidunt dolor nisi, ut quam magnam architecto harum maxime unde, reprehenderit illo quo. Sint.</p>
          <a href="http://andrewmeilingbrand.s3-website-us-east-1.amazonaws.com" target="_blank" class="card-link btn btn-outline-secondary">Visit</a>
          <a href="https://github.com/AndrewSC208/branded" target="_blank" class="card-link btn btn-outline-secondary">Source Code</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Brandly</h4>
          <h6 class="card-subtitle text-muted">A simple branding website</h6>
        </div>
        
        <img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1472444195/brandly_lln0xb.jpg" alt="Card image" class="img-fluid">
        
        <div class="card-block">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et totam laboriosam, ex voluptate possimus repudiandae. Error incidunt dolor nisi, ut quam magnam architecto harum maxime unde, reprehenderit illo quo. Sint.</p>
          <a href="http://andrewmeilingbrand.s3-website-us-east-1.amazonaws.com" target="_blank" class="card-link btn btn-outline-secondary">Visit</a>
          <a href="https://github.com/AndrewSC208/branded" target="_blank" class="card-link btn btn-outline-secondary">Source Code</a>
        </div>
      </div>
    </div>

	</div> <!-- ./row -->

</div>