<div class="container" id="portfolio">

	<div class="row">

		<div class="col-sm-6">
			<div class="card">
  			<div class="card-block">
    			<h4 class="card-title">Card title</h4>
    			<h6 class="card-subtitle text-muted">Support card subtitle</h6>
  			</div>
  			
  			<img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1472444195/brandly_lln0xb.jpg" alt="Card image" class="img-fluid">
  			
  			<div class="card-block">
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    			<a href="#" class="card-link">Card link</a>
    			<a href="#" class="card-link">Another link</a>
  			</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="card">
  			<div class="card-block">
    			<h4 class="card-title">Card title</h4>
    			<h6 class="card-subtitle text-muted">Support card subtitle</h6>
  			</div>
  			
  			<img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1472444195/brandly_lln0xb.jpg" alt="Card image" class="img-fluid">

  			<div class="card-block">
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    			<a href="#" class="card-link">Card link</a>
    			<a href="#" class="card-link">Another link</a>
  			</div>
			</div>
		</div>

	</div> <!-- ./row -->

	<div class="row">

		<div class="col-sm-6">
			<div class="card">
  			<div class="card-block">
    			<h4 class="card-title">Card title</h4>
    			<h6 class="card-subtitle text-muted">Support card subtitle</h6>
  			</div>
  			
  			<img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1472444195/brandly_lln0xb.jpg" alt="Card image" class="img-fluid">
  			
  			<div class="card-block">
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    			<a href="#" class="card-link">Card link</a>
    			<a href="#" class="card-link">Another link</a>
  			</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="card">
  			<div class="card-block">
    			<h4 class="card-title">Card title</h4>
    			<h6 class="card-subtitle text-muted">Support card subtitle</h6>
  			</div>
  			
  			<img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1472444195/brandly_lln0xb.jpg" alt="Card image" class="img-fluid">

  			<div class="card-block">
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    			<a href="#" class="card-link">Card link</a>
    			<a href="#" class="card-link">Another link</a>
  			</div>
			</div>
		</div>

	</div> <!-- ./row -->

</div>