.container-fluid {
	background-color: lighten(#262D35, 30%);
}

#home {
	height: 100vh;
	 background: url("https://res.cloudinary.com/drkmakxkk/image/upload/v1477020491/home-bg_asf9fz.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	.col-xs {
		position: relative;
	}

	.jumbotron {
		background-color: rgba(255,255,255, 0);
		color: rgba(236, 236, 238, .7);
		position: absolute;
  	top: 50%;
  	transform: translateY(25%);

		@media (min-width: 720px) {
			transform: translateY(50%);	
		}
  	
	}
}