<div class="container-fluid" id="home">

 <!--  <img src="https://res.cloudinary.com/drkmakxkk/image/upload/v1477020491/home-bg_asf9fz.jpg" class="bg"> -->

  <div class="container">
    <div class="row">
      <div class="col-xs">
    		<div class="jumbotron">
    			<h1 class="display-1">Hi,</h1>
          <h2 class="display-4">I'm Andrew Meiling</h2>
     			<p class="lead">A Front-End Devloper in San Diego</p>
     			<p><a class="btn btn-lg btn-outline-secondary" [routerLink]="['/about']">Learn More</a></p>
    		</div>    
      </div>
    </div> <!-- ./row -->
  </div> <!-- ./container -->

</div> <!-- ./wrapper -->